# Dependencies
node_modules/
/.pnp
.pnp.js

# Production Build
dist/
dist-ssr/
*.local

# Temporary & Scratch
scratch/
.system_generated/
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
